
body{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: lightgray;
}
.APP{
  background-color:white;
  height: 5050px;
  width: 100%;
 
}
.img{
  height: 550px;
  width: 400px;
  background-image: url('images/img3.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  margin-left: 60px;
  border-radius: 0px, 20px;
  position: relative;
  border-bottom-left-radius: 160px;
}
.img1{
  height: 550px;
  width: 400px;
  background-image: url('images/image4.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
 
  border-top-right-radius: 160px;
}
.MAP{
  height: 400px;
  width: 400px;
  background-image: url('images/MAP.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;

}
.MAP1{
  height: 400px;
  width: 400px;
  background-image: url('images/Img-2.png');
  background-repeat: no-repeat;
  background-size: cover;

 

}
/* .pic-content1{
position: absolute;
margin-top: -130px;
margin-left: 70px;
} */
.MAP2{
  height: 400px;
  width: 400px;
  background-image: url('images/Rectangle\ 4307.png');
  background-repeat: no-repeat;
  background-size: cover;


}
/* .pic-content2{
  position: absolute;
  margin-top: -150px;
  margin-left: 70px;
  } */
.content{
  margin-left: 0px;

}
.btn{
  width: 130px;
  height: 40px;
  background-color: #10a3d4 !important;

  border-radius: 25px 5px 20px 5px !important;

}
.btn1{
  width: 130px;
  height: 40px;
  border-color: #10a3d4 !important;
  border-radius: 25px 5px 20px 5px !important;
  color: #00bfff !important;
}
.nav{
  margin-left: 60px;
}
.cent{
  background-color:whitesmoke;
  color: #10a3d4;
  font-weight: 600;
}
.inner-img{
  width: 100px;
  height: 100px;
  /* border-radius: 60%; */
}
.box{
  width: 150px;
  height: 70px;
  background-color: #edf2f1;
  border-radius: 60px;
  
}
.icon-left{
  width: 40px;
  height: 30px;
  border-radius: 30px;
  background-color: black;
  
}
.foot-upper{
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.foot-uppes{
  position: relative;
}
.con{
  position: absolute;
  bottom: 0px;
  top: -20px;

} 
@media(max-width:50px){

  .mage{
    margin-right: 50px;
    
  }
  .pira{
    width: fit-content;
  }
  
}



